header {
    --color0: #ffffff;
    --color0-contrast: #000000;
    --color1: #1c6ccd;
    --color1-contrast: #ffffff;
    --color2: #44d5a7;
    --color2-contrast: #ffffff;
    --color3: #f8e472;
    --color3-contrast: #063728;
    --color4: #192229;
    --color4-contrast: #ffffff;
    --color5: #002f21;
    --color5-contrast: #ffffff;

    --color-logo-light: #ffffff;
    --color-logo-dark: #1292ee;

    display: flex;
    flex-direction: column;

    /*    height: var(--header-height);*/
    position: relative;
}

header .container {
    width: 100%;
    max-width: var(--container-width);
    margin: auto;
}

/*ANUNCIO*/
header .anuncio {
    width: 100%;
    height: var(--header-anuncio-height);
    padding: 0 30px;

    background: var(--color1);
}

header .anuncio .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

header .anuncio .container p {
    color: var(--color1-contrast);
    font-family: manrope;
    font-size: .80rem;
    letter-spacing: 1px;

    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: text;
}

header .anuncio .container .time {
    display: flex;
    gap: 3px;
    margin: 0 20px;
}

header .anuncio .container .time span {
    font-family: manrope;
    font-size: .80rem;
    color: var(--color2);
}

header .anuncio .container .time span.letter {
    margin-right: 10px;
    color: var(--color1-contrast);
}

header .anuncio .container .time.time-out span {
    display: none;
}

header .anuncio .container .time.time-out span.message {
    display: block;
}

header .anuncio .container .time span.message {
    font-family: manrope;
    /*    font-size: 1rem;*/
    font-weight: bold;
    color: var(--color1-contrast);
    letter-spacing: 1px;
    user-select: text;
}

header .anuncio .container a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color3);
    color: var(--color3-contrast);
    padding: 11px 15px;
    border-radius: 3px;
    text-decoration: unset;
    font-family: manrope;
    font-size: .85rem;
    font-weight: bold;
}

header .anuncio .container a i {
    font-size: .75rem;
    margin-right: 3px;
}

header .anuncio .container a span {}

@media (max-width:600px) {
    header .anuncio .container .time {
        display: none;
    }
}




/*NAVBAR*/
header .navbar {
    height: var(--header-navbar-height);
    width: 100%;
    background: transparent;
    color: var(--color4-contrast);
    padding: 0 20px;

    position: absolute;
    top: var(--header-anuncio-height);
    z-index: 1;
}

header .navbar.float {
    background: var(--color4);
    border-bottom: solid 1px #25323c;
    position: fixed;
    top: 0;
}

header .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .navbar .container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100%;
    margin-right: 20px;
    color: var(--color4-contrast);
    text-decoration: none;
    cursor: pointer;
    padding: 10px 0;
}

header .navbar .container .logo .svg,
header .navbar .container .logo img {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

header .navbar .container .logo svg {
    width: 100%;
    height: 100%;
}

header .navbar .container .logo img.logo_light {
    display: block;
}

header .navbar .container .logo img.logo_dark {
    display: none;
}

header .navbar.float .container .logo img.logo_light {
    display: none;
}

header .navbar .container .logo span,
header .navbar .container .logo svg {
    fill: var(--color-logo-light);
    color: var(--color-logo-light);
}

header .navbar.float .container .logo span,
header .navbar.float .container .logo svg {
    fill: var(--color-logo-dark);
    /*    color: var(--color-logo-dark);*/
}

header .navbar .container .logo span {
    font-family: baloo;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.3px;
}

header .navbar.float .container .logo img.logo_dark {
    display: block;
}

header .navbar .container .menu {
    display: flex;
    height: 100%;
    gap: 15px;
    margin-right: auto;
    list-style: none;
}

header .navbar .container .menu li {}

header .navbar .container .menu li a span {}

header .navbar .container .menu li a i {}



header .navbar .container .menu li.option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    font-family: manrope;
    font-size: .92rem;
    cursor: pointer;
    transition: all 0.2s ease;
}


header .navbar .container .menu li.option.active a,
header .navbar .container .menu li.option a:hover {
    opacity: 1;
    transition: all 0.2s ease;
}

header .navbar .container .menu li.option a {
    opacity: 0.8;
    color: var(--color4-contrast);
    text-decoration: none;
    white-space: nowrap;
}

header .navbar .container .menu li.option a span {}

header .navbar .container .menu li.option a i {
    margin-left: 4px;
    font-size: .8rem;
}



header .navbar .container .menu li.option:hover .submenu {
    width: auto;
    height: auto;
    padding: 20px;
    opacity: 1;
    border: none;
    transition: 0.3s ease;
}

header .navbar .container .menu .submenu {
    position: absolute;
    top: calc(100% - 10px);
    z-index: 1;

    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 0;
    overflow: hidden;
    background: var(--color4);
    border: solid 2px #25323c !important;
    border-radius: 5px;

    padding: 0;
    opacity: 0;
    transition: 0.3s ease;
}

header .navbar .container .menu .submenu .suboption {
    white-space: nowrap;
}

header .navbar .container .menu .submenu .suboption span {
    font-family: manrope;
    font-size: .8rem;
    letter-spacing: 1px;
}

header .navbar .container .menu .submenu .suboption span i {}

header .navbar .container .search {}

header .navbar .container .search button {
    background: transparent;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.2s ease;
}

header .navbar .container .search button:hover {
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

header .navbar .container .search button i {
    font-size: 1.2rem;
    color: var(--color4-contrast);
}

header .navbar .container .session-buttons {
    display: flex;
    gap: 5px;
    margin-left: 30px;
}

header .navbar .container .session-buttons a {
    color: var(--color4-contrast);
    text-decoration: none;
    background: var(--color1);
    padding: 10px;
    border-radius: 3px;
    font-family: manrope;
    font-size: .9rem;
    letter-spacing: .3px;
    transition: all 0.2s ease;
}

header .navbar .container .session-buttons a:hover {
    opacity: 0.8;
    transition: all 0.2s ease;
}

header .navbar .container .session-buttons a span {}

header .navbar .container .session-buttons a.btn-login {
    background: transparent;
    letter-spacing: 1px;
    font-size: 0.85rem;
}

header .navbar .container .session-buttons a.btn-login:hover {
    background: #687782;
    color: #ffffff;
}

header .navbar .container .menu-mobile {
    display: none;
    margin-left: 5px;
}

header .navbar .container .menu-mobile button {
    background: transparent;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.2s ease;
}

header .navbar .container .menu-mobile button:hover {
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

header .navbar .container .menu-mobile button i {
    font-size: 1.2rem;
    color: var(--color4-contrast);
}

@media (max-width: 900px) {
    header .navbar.float .container .menu {
        top: var(--header-navbar-height);
    }

    header .navbar .container .menu {
        position: fixed;
        top: var(--header-height);
        /*        left: 0;*/
        right: 0;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        max-width: 0px;
        height: calc(100vh - var(--header-height));
        margin: 0 auto;
        padding: 30px 0;
        border: unset !important;
        background: var(--color4);
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s ease;
        border: solid 1px rgba(255, 255, 255, 0.1);
    }

    header .navbar.open-menu {
        background: var(--color4);
    }

    header .navbar.open-menu.float .container .menu {
        height: calc(100vh - var(--header-navbar-height));
        transition: none;
    }

    header .navbar {
        --menu-max-width: 400px;
    }

    header .navbar.open-menu .container .menu {

        opacity: 1;
        max-width: var(--menu-max-width);
        border: solid 2px #25323c;
        transition: all 0.3s ease;
        gap: 0;
    }

    header .navbar .container .menu li {
        height: auto !important;
        flex-direction: column;
    }

    header .navbar .container .menu li a {
        display: flex;
        width: 100%;
        justify-content: left;
        align-items: center;
        padding: 20px;
        font-size: 0.9rem;
    }

    header .navbar .container .menu li a span {
        margin-right: auto;
    }

    header .navbar .container .menu li a i {
        transition: all 0.2s ease;
    }

    header .navbar .container .menu li.option:hover a i {
        transform: rotate(180deg);
        transition: all 0.2s ease;
    }

    header .navbar .container .menu li a.btn-list {
        border-top: solid 1px rgba(255, 255, 255, 0.1);
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    }

    header .navbar .container .menu .submenu {
        position: static;
        width: 100%;
        height: auto;
        opacity: 1;
        border: unset !important;
        border-bottom: solid 1px rgba(255, 255, 255, 0.1) !important;
        max-height: 0;
    }

    header .navbar .container .menu li.option:hover .submenu {
        width: 100%;
        padding: 0px;
        max-height: 400px;
        gap: 0;
    }

    header .navbar .container .menu .submenu .suboption {
        text-align: start;
    }

    header .navbar .container .logo {
        margin-right: 0px;
    }

    header .navbar .container .search {
        margin-left: auto;
    }

    header .navbar .container .session-buttons {
        --space-right: 20px;
        margin-left: 0px;
        /*        display: none;*/
        position: fixed;
        right: var(--space-right);
        bottom: 30px;
        width: 100%;
        padding: 0;
        max-width: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.2s ease;
    }

    header .navbar.open-menu .container .session-buttons {
        max-width: calc(var(--menu-max-width) - var(--space-right) * 2);
        opacity: 1;
        transition: all 0.3s ease;
    }

    header .navbar.open-menu .container .session-buttons a {
        padding: 10px;
        transition: all 0.3s ease;
    }

    header .navbar .container .session-buttons a {
        flex: 1;
        display: block;
        padding: 0;
        text-align: center;
        transition: all 0.2s ease;
    }

    header .navbar .container .menu-mobile {
        display: block;
    }
}


@media(max-width:400px) {
    header .navbar.open-menu .container .session-buttons {
        max-width: calc(100% - var(--space-right) * 2);
    }
}
