body {
    --color1: #192229;
    --color1-contrast1: #ffffff;
    --color2: #212e36;
    --color2-contrast1: #ffffff;
    --color2-contrast2: #b7c1c8;
    --color2-contrast3: #62b7f4;
    --color3: #273b49;
    --color3-contrast1: #ffffff;
    --color3-contrast2: #687782;
    --color4: #1292ee;
    --color4-contrast1: #ffffff;



    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--color1);
    overflow: hidden;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: var(--container-padding);
    /*    padding: 50px var(--container-padding);*/
}

main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--container-width);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background: var(--color2);
    padding: 50px;
    border-radius: 10px;
}

form .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-decoration: none;
}

form .logo img {
    aspect-ratio: 1/1;
    height: 100%;
    object-fit: contain;
}

form .logo span {
    font-family: baloo;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: var(--color2-contrast1);
}

form h1 {
    font-size: 1.8rem;
    font-family: manrope;
    text-align: center;
    color: var(--color1-contrast1);
    margin: 20px 0;
}

form label {
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: manrope;
    font-size: 0.9rem;
    color: var(--color2-contrast2);
}

form .input {
    display: flex;
    background: var(--color3);
    padding: 10px;
    border-radius: 4px;
}


form .input input {
    flex: 1;
    background: transparent;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-family: manrope;
    color: var(--color3-contrast1);
}

form .input input::placeholder {
    color: var(--color3-contrast2);
    padding: 0 10px;
}

form .input button {
    background: transparent;
    cursor: pointer;
}

form .input button i {
    color: var(--color3-contrast2);
    font-size: 1rem;
}

form .input button i.show {}

form .input button i.hide {}

form .input button i.hide,
form .input.show button i.show {
    display: none;
}

form .input button i.show,
form .input.show button i.hide {
    display: block;
}

form .input.submit {
    margin: 20px 0;
    background: transparent;
    padding: 0;
}

form .input.submit input {
    background: var(--color4);
    color: var(--color4-contrast1);
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease;
}

form .input.submit input:hover {
    opacity: 0.8;
    transition: all 0.2s ease;
}

form .more {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin-top: 10px;
}

form .more .link {
    display: flex;
    justify-content: center;
    gap: 5px;
    white-space: nowrap;
}

form .more .link span {
    font-family: manrope;
    font-size: 0.85rem;
    color: var(--color2-contrast2);
    letter-spacing: 0.5px;
}

form .more .link a {
    text-decoration: none;
    color: var(--color2-contrast3);
    font-family: manrope;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    transition: all 0.2s ease;
}

form .more .link a:hover {
    text-decoration: underline;
    transition: all 0.2s ease;
}



@media (max-width: 600px) {
    form {
        background: transparent;
        padding: 0;
    }

    body {
        background: var(--color2);
    }
}
