header .navbar {
    background: var(--color4);
    border-bottom: solid 1px #25323c;
    position: fixed;
    top: 0;
}

main {
    --color1: #141c21;
    --color1-contrast1: #e8e8e8;
    --color1-contrast2: #b7c1c8;
    --color1-contrast3: #62b7f4;


    background: var(--color1);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--container-padding);
    padding-top: calc(var(--header-navbar-height) + 10px);
}

section .container {
    width: 100%;
    max-width: var(--container-width);
}

section .container * {
    font-family: manrope;
    user-select: text;
}


main .container h1,
main .container h2 {
    color: var(--color1-contrast1);
}

main .container h1 {
    font-size: 2rem;
    text-align: center;
}

main .container h2 {
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 20px;
}

main .container p {
    color: var(--color1-contrast2);
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom: 50px;
    text-align: justify;
}

main .container p.out {
    margin-top: 40px;
    margin-bottom: 20px;
}

main .container p a {
    text-decoration: none;
    color: var(--color1-contrast3);
    letter-spacing: 0.5px;
    transition: all 0.2s ease;
}

main .container p a:hover {
    text-decoration: underline;
    transition: all 0.2s ease;
}

main .container ol,
main .container ul {
    color: var(--color1-contrast1);
    padding-left: 20px;
}

main .container ol li p,
main .container ul li p {
    margin-bottom: 20px;
}

main .container ol {}

main .container ul {}

main .container li {}
